.inputContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
  gap: 5px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.inputError {
  border: 2px solid red;
}

.inputSubContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.inputVariableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.inputVariableSubContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  padding: 10px;
}

.inputCounter {
  font-size: 10px;
  width: 20px;
  padding: 2px;
  font-weight: 700;
}

.customInput {
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0px;
  outline: none;
  border: 1px;
  flex: 1;
  color: rgb(64, 61, 65);
}

.inputCloseIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0.5;
}

.inputCloseIcon:hover {
  opacity: 1;
}
